.input{
    background-color: #007458!important;
    color: white !important;
}
input::placeholder {
    color: #FFFFFF !important; 
  }
.container{
    display: flex;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid grey;
  background-color: white;

  min-height: 80px;
  height: auto;
  padding: 20px;
}