.true {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: 1px solid grey;
  background-color: white;
  width: 100%;

  padding: 20px;
  gap: 30px;
  height: auto;
  .title {
    font-weight: bold;
    color: grey;
    align-self: center;
  }
  .content {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

.false {
  height: 400px;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #dddddd;
  background-color: #dddddd;
  width: 100%;
  gap: 20px;
  .lock {
    width: 50px;
  }
}
