.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid #bbbbbb;
  background-color: white;
  min-height: 1000px;
  max-width: 100%;
  height: auto;
  padding: 20px;
  div {
    // border: 1px solid red;
  }
  .profile {
    display: flex;
    justify-content: space-between;

    .profileLeft {
      height: 70px;
      display: flex;
      gap: 0.5rem;
      .profileImage {
        width: 3rem;
        border-radius: 50%;
      }
      .profileContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .profileName {
          display: flex;
          gap: 2rem;
          font-size: 1.2rem;
          font-weight: bold;
        }
        .profileDate {
          font-size: 0.8rem;
          color: grey;
        }
      }
    }
    .editPost {
      width: 2rem;
      height: 1.5rem;
      padding-top: 1rem;
    }
  }

  .text {
  }
  .postImage {
    max-height: 500px;
    max-width: 100%; /* Add this line */
    width: fit-content;
    align-self: center;
  }
  .postVideo {
    max-height: 500px;
    max-width: 100%; /* Add this line */
    width: fit-content;
    align-self: center;
  }

  .commentContainer {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 10px;

    .commentInput {
      border-radius: 50%;
    }
  }
}
