.container {
  justify-items: center;
  height: 100%;
  margin-top: 70px;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paper {
  justify-content: center;
  width: 500px;
  margin: 50px 0px 50px 0px;
}
.center {
  display: flex;
  justify-content: center;
}
