.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding: 70px 250px 70px 250px;
  width: 100%;
  gap: 1.5rem;
  background-color: #fefefa;
  justify-content: center;
}
