.container {
    min-width: 100%;
    margin-top: 70px;
    background-color: #fefefa;
    padding: 2rem;
    display: flex;
    height: calc(100vh - 70px);
  }
  

.rightContent {
  min-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}


.true {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: 1px solid grey;
  background-color: #007458;
  width: 250px;
  margin-right: 2rem;
  height: auto;
  .title {
    align-self: center;
    padding: 15px;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .content {
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 0 0 30px 30px;
    background-color: white;
  }
}
.Athletecontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 30px;
  border: 2px solid #bbbbbb;
  background-color: white;
  
  max-width: 100%;
  height: auto;
  padding: 20px;
  div {
    // border: 1px solid red;
  }

    .profileLeft {
      margin-left: 2rem;
      height: 70px;
      display: flex;
      gap: 0.5rem;
      .profileImage {
        width: 4rem;
        border-radius: 50%;
      }
      .profileContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .profileName {
          font-size: 1.2rem;
          font-weight: bold;
        }
        .profiletext {
          font-size: 0.8rem;
          color: grey;
        }
      }
    }
    .editPost {
      width: 2rem;
      height: 1.5rem;
      padding-top: 1rem;
    }
  }

  .text {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
  }
  

