.container {
    min-width: 100%;
    margin-top: 70px;
    background-color: #fefefa;
    padding: 2rem;
    display: flex;
    height: calc(100vh - 70px);
  }
  

.rightContent {
  min-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

