.container {
    min-width: 100%;
    margin-top: 70px;
    background-color: #fefefa;
    padding: 2rem;
    display: flex;
    height: calc(100vh - 70px);
  }
  

.rightContent {
  min-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.true {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  border: 1px solid grey;
  background-color: #007458;
  width: 250px;
  margin-right: 2rem;
  height: auto;
  .title {
    align-self: center;
    padding: 15px;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
  }
  .content {
    height: 80%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 0 0 30px 30px;
    background-color: white;
  }
}
